<!DOCTYPE html>
<ion-modal-view>

    <ion-header-bar align-title="center" class="bar-positive">
        <h1 class="title">Modal Bug</h1>
        <div class="buttons">
            <button class="button button-icon ion-close-round" ng-click="closeModal()"></button>
        </div>
    </ion-header-bar>

    <ion-content class="padding">
        <div class="list list-inset">
            When the modal is closed. disappears navbar and the tabs are damaged :(
        </div>
    </ion-content>

</ion-modal-view>
